body {
  background-color: black;
  position: relative;
}

p {
  color: white;
  font-family: "Joti One", cursive;
  margin: 0;
}

.red {
  color: red;
  font-family: Nosifer, cursive;
}

.red:hover {
  color: #8b0000;
}

.background {
  position: absolute;
  font-size: 5rem;
  z-index: -1;
  opacity: .2;
  width: 100%;
}

.title {
  font-family: "Jolly Lodger", cursive;
  line-height: .75em;
  font-size: 65vw;
  color: white;
}

.primary {
  font-family: "Jolly Lodger", cursive;
}

@media only screen and (min-width: 15em) {

  .lyrics {
    text-align: center;
  }

}

@media only screen and (min-width: 25em) {

  .title {
    font-size: 45vw;
  }

}

@media only screen and (min-width: 38em) {

  .title {
    font-size: 50vw;
  }

}

@media only screen and (min-width: 60em) {

  .title {
    font-size: 30vw;
  }

}
